/* General styling */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid black; /*later weghalen*/
}

.logo-name {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: rgb(145, 155, 154)
}

.logo-name span strong {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

nav ul {
  display: flex;
  padding-right: 0.5rem;
}

nav ul li {
  list-style: none;
  padding-right: 1rem;
}

.mobile {
  display: none;
}

/* Header mobile and smaller screens */

@media only screen and (max-width: 560px) {

  nav.mobile {
    width: 100%;
    display: flex;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    padding: 0 1rem 0 1rem;
  }

  .logo-name {
    display: none;
  }

  .desktop {
    display: none;
  }

}

/* Banner */

.banner {
  background-color: rgb(145, 155, 154);
  width: 100%
}
