/* general styling - text */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: rgb(74, 74, 74);
  line-height: 1.4rem;
}

h1 {
  padding: 2rem 0;
}

h1, h2 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.section2 h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section3 h1 {
  text-align: center;
  padding-bottom: 0;
}

h3 {
  padding: 0.75rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.1rem;
  color: rgb(247, 249, 252);
}

h5 {
  font-size: 0.9rem;
  margin: 2rem 0;
}

h6 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

p, span {
  font-weight: 300;
  line-height: 1.5rem;
}

/* general styling - containers: banner, section 1, section 3*/

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem 1.5rem;
  width:60%;
}

.right {
  width: 40%;
  border-left: 1px solid rgb(216, 216, 216); /*misschien weghalen*/
}

.left img {
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 58%;
}

/* header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo-name {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: rgb(145, 155, 154);
}

.logo-name span strong {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

nav ul {
  display: flex;
  padding-right: 0.5rem;
}

nav ul li {
  list-style: none;
  padding-right: 1rem;
}

.mobile {
  display: none;
}

/* header media queries smaller screens and mobile */

@media only screen and (max-width: 600px) {

  .logo-name {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: flex;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  nav ul li {
    padding: 0 1rem 0 1rem;
  }

}

/* banner */

.banner {
  background-color: rgb(216, 216, 216);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 357px;
}

.box {
  width: 100%;
}

.button {
  background-color: rgb(74, 74, 74);
  text-align: center;
  padding: 0.5rem 0;
  width: 64%;
}

/* banner media queries smaller screens and mobile */

@media only screen and (max-width: 600px) {

  .banner {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin: 0 0;
  }

  .right {
    width: 100%;
  }

  .right h1, h4 {
    padding-left: 1rem;
    display: flex;
  }

  .right h3 {
    padding: 0 0 0 1rem;
  }

  .button {
    margin: 1.5rem 0 2rem 1rem;
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: rgb(155, 155, 155);
    font-weight: 500;
  }

}

/* section */


.section {
  display: flex;
  width: 100%;
  height: auto;
}

.item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid rgb(216, 216, 216);
  margin: 1px 0; /* border margin box 1-2*/
}

.item:first-child {
  border-top: none;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.item img {
  width: 35%;
  height: auto;
  margin: 0 1rem;
}

.description {
  display: block;
  width: 65%;
}

.description p {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.description a {
  color: rgb(37, 134, 221);
  text-decoration: underline;
}

.item:last-child{
  background-color: rgb(216, 216, 216);
}

.item:first-child{
  margin-top: 1rem;
}

/* section media queries smaller screens and mobile */

@media only screen and (max-width: 1047px) {
  .section .left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 60%;
  }

}

@media only screen and (max-width: 600px) {

.section {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

 .section .left {
   display: none }
}


/* section 2 */

.section2 {
  background-color: rgb(216, 216, 216);
  width: 100%;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 4.5rem;
  margin-right: 2.5rem;
}

.course {
   background-color: white;
   width: 30%;
   margin-right: 2rem;
   margin-bottom: 2rem;
}

.course-image {
  height: auto;
  width: 100%;
}

.description2 {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.description2 p {
  padding: 0.5rem 0;
}

/* section 3 */

.section3 {
  background-color: rgb(243, 245, 245);
}

.content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.section3 .right {
  border: none;
}

.section3 .item {
  border: none;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 2rem 1.5rem;
  background-color: rgb(243, 245, 245);
  border-top: 1px solid rgb(216, 216, 216);
}

footer span {
  font-size: 0.8rem;
}

.info span {
  padding-left: 1rem;
}
