/* General styling */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo-name {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: rgb(145, 155, 154)
}

.logo-name span strong {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

nav ul {
  display: flex;
  padding-right: 0.5rem;
}

nav ul li {
  list-style: none;
  padding-right: 1rem;
}

.mobile {
  display: none;
}

/* Header mobile and smaller screens */

@media only screen and (max-width: 560px) {

  nav.mobile {
    width: 100%;
    display: flex;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    padding: 0 1rem 0 1rem;
  }

  .logo-name {
    display: none;
  }

  .desktop {
    display: none;
  }

}

/* Banner */

.banner {
  background-color: rgb(192, 195, 198);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.banner img {
  width: 60%;
  margin: 2rem 1.5rem;
}


h1, h3, h2 {
  color: rgb(50, 51, 53);
}

h1, h2 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  margin-top: 2rem;
}

h3 {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.1rem;
  color: rgb(247, 249, 252);
}

#button {
  background-color: rgb(50, 51, 53);
  text-align: center;
  width: auto;
  padding: 0.5rem 0;
}

/* Banner Media queries

flex-wrap: wrap;
flex-direction: column; */

/* Section 1 */

.section {
  display: flex;
  width: 100%;
  height: auto;
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 2rem 1.5rem;
  width: 60%;
}

.section img{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

h2 {
  margin-bottom: 1.5rem;
}

h5 {
  margin: 2rem 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.item img {
  width: 35%;
  height: auto;
  margin-right: 1.5rem;
  margin-left: 1rem;
}

.description {
  display: block;
  width: 65%;
}

.description p {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.description a {
  color: rgb(6, 69, 173);
  text-decoration: underline;
}

.item:last-child{
  background-color: gray;
}

.item:first-child{
  margin-top: 1rem;
}
